@font-face {
    font-family: "Linux Biolinum Keyboard";
    src: url('../fonts/LinBiolinum_Kah.woff');
    }

body {
    margin:0;
    background: #2c2c3a;
}
      
      .topnav {
              overflow: hidden;
              width: 100%;
              background-color: #333;
              }
      /* Arranges the items in the top navigation menu */
      .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 15px;
                text-decoration: none;
                font-size: 22px;
                font-family: Fira Code;
                }
      
      .topnav b {
                float: right;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 12px 12px;
                text-decoration: none;
                font-size: 22px;
                font-family: Fira Code;
                }
      
.topnav a:hover {
                  background-color: #ddd;
                  color: black;
                      }

                       /* The side navigation menu */
.sidebar {

    right: 0;
    width: 150px;
    background-color: black;
    position: absolute;
    height: 100%;
    overflow: auto;
    float: right;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 18px;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover{
    background-color: #2f439e;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    height: 100%;
  }

  div.content h1 {
      font-family: Linux Biolinum Keyboard;
      padding-left: 5%;
      padding-top: 2%;
      color: white;
      font-size: 40px;
      text-decoration: bold;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 