body {margin:0;}

.topnav {
        overflow: hidden;
        width: 100%;
        background-color: #333;
        }
/* Arranges the items in the top navigation menu */
.topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 15px;
          text-decoration: none;
          font-size: 22px;
          font-family: Fira Code;
          }

.topnav b {
          float: right;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 12px 12px;
          text-decoration: none;
          font-size: 22px;
          font-family: Fira Code;
          }

.topnav a:hover {
            background-color: #ddd;
            color: black;
                }

.sidenav {
	  height: 100%; /* Full-height: remove this if you want "auto" height */
	  width: 160px; /* Set the width of the sidebar */
	  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
	  z-index: 1; /* Stay on top */
	  top: 0; /* Stay at the top */
	  left: 0;
	  background-color: #111; /* Black */
	  overflow-x: hidden; /* Disable horizontal scroll */
	  padding-top: 20px;
	}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 54px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav h1 {
    font-size: 30px;
    color: white ;
    padding: 6px 8px 6px 16px;
  }
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .topimg {
    background-image: url('static/console.png');
    background-color:grey ;
    top: 50px;
    width:110%;
    height: 20%;
    padding-bottom: 0px;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main {

  margin-top: 50px;

  margin-left: 22%;

  box-sizing: border-box;

  width: 65%;

  padding: 10px;

  background-color: #979799;
}

.main h1 {
  background-color: #103ab7;
  padding: 5px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}

.main p {
  padding: 10px; 
  border: 4px solid #c2cec7; 
  background-color:#4b514d; 
  font-size: 16px;
  font-family: monospace;
  color: white;
}